.app_large_btn {
  border-radius: none !important;
  padding: 1.5rem 2.5rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 1.4px solid #005999 !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  color: #005999 !important;
}
