$whiteColor: #ffffff;
$darkWhiteColor: #eeeeee;
$yellowColor: #ffc31f;

$blueOneColor: #3e97ff;
$blueTwoColor: #005999;
$blueThreeColor: #009ee3;
$blueFourColor: #95cfed;

$greenOneColor: #26be0a;
$greenTwoColor: #008b39;
$greenThreeColor: #88b31a;
$greenFourColor: #009933;

$greyOneColor: #00000029;
$greyTwoColor: #666666;
$greyThreeColor: #c1c1c1;
$greyFourColor: #333333;
$greyFiveColor: #525252;
$greySixColor: #cccccc;
$greySevenColor: #707070;
$grey8Color: #6f6f6e;
$grey9Color: #d6d6d6;
$grey10Color: #adadad;

$redOneColor: #ff5d27;
$redTwoColor: #d10209;
$redThreeColor: #e20000;
