@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./backgrounds.scss";
@import "./colors.scss";
@import "./buttons.scss";
@import "./typography.scss";
@import "./paddings.scss";
@import "./margins.scss";
@import "./borders.scss";
@import "./forms.scss";
@import "./inputs.scss";
@import "./carousel.scss";
@import "./cards.scss";
@import "./icons.scss";
@import "./sections.scss";
@import "./drawer.scss";
@import "./sliders.scss";
@import "./filter.scss";
@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
ul,
ol,
dl,
dir,
menu,
blockquote,
dd,
fieldset {
  padding: 0;
  margin: 0;
}

.padding-0 {
  padding: 0.2rem;
}
a {
  color: $redOneColor !important;
  text-decoration: none !important;
  &:hover {
    color: $redTwoColor !important;
  }
}

.app_container {
  min-height: 87vh;
}

.modal_close {
  background: $redOneColor;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ant-progress {
  width: 98%;
}
.ant-progress-steps-item {
  width: 20% !important;
}

.ant-progress-steps-item-active {
  background-color: $blueTwoColor;
}

.pacentage_cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  padding: 0 2rem;
  .percentage_card {
    background: $whiteColor;
    padding-bottom: 0.6rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .percentage {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 0.2rem;
      .percentage_sign {
        margin-bottom: 1rem;
      }
    }
  }
}

.ant-modal {
  width: 60vw !important;
}
.modal_cards {
  background: #eeeeee;
  border-radius: 10px;
  padding: 1rem;
  .rc {
    padding: 0 2rem;
    .ricalcola_div {
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 0;
    }
  }
}

@media screen and (max-width: $breakpoint-small),
  (max-width: $breakpoint-medium) {
  .pacentage_cards {
    flex-wrap: wrap;
    padding: 0;
    row-gap: 1rem;
  }
  .ant-modal {
    width: 100% !important;
  }
  .modal_cards {
    padding-left: 1.5rem;
  }
}
