@import "./colors.scss";

//sizes
.app_big_text {
  font-size: 6rem;
}

.text_32 {
  font-size: 32px;
}
.text_24 {
  font-size: 24px;
}
.text_22 {
  font-size: 22px;
}
.text_28 {
  font-size: 28px;
}
.text_18 {
  font-size: 18px;
}
.text_16 {
  font-size: 16px;
}
.text_14 {
  font-size: 14px;
}
.app_3_text {
  font-size: 3rem;
}

.app_medium_text {
  font-size: 1.8rem;
}

.app_extra_medium_text {
  font-size: 18px;
}
.app_small_text {
  font-size: 0.9rem;
}
.app_extra_small_text {
  font-size: 0.7rem;
}

//weigths
.app_200_w {
  font-weight: 200;
}
.app_400_w {
  font-weight: 400;
}
.app_500_w {
  font-weight: 500;
}
.app_700_w {
  font-weight: 700;
}
.app_800_w {
  font-weight: 800;
}
.app_900_w {
  font-weight: 900;
}

// colors
.app_redOneColor_text {
  color: $redOneColor;
}
.app_greyFourColor_text {
  color: $greyFourColor;
}
.app_yellowColor_text {
  color: $yellowColor;
}
.app_greenOneColor_text {
  color: $greenOneColor;
}
.app_muted_text {
  color: $greyThreeColor;
}
.app_blueTwoColor_text {
  color: $blueTwoColor;
}
.app_whiteColor_text {
  color: $whiteColor;
}
.app_greySixColor_text {
  color: $greySixColor;
}
.app_greyFiveColor_text {
  color: $greyFiveColor;
}
// others
.app_underlined_text {
  text-decoration: underline !important;
}

.app_uppercased_text {
  text-transform: uppercase;
}
.app_cursored {
  cursor: pointer;
}

.ant-collapse-content-box {
  border-bottom: 1px solid #cccccc;
}
.ant-collapse-header {
  font-weight: 700 !important;
  font-size: 21px !important;
  text-transform: uppercase !important;
  color: #ff5d27 !important;
}

.link_container {
  background: $greyThreeColor;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon_link {
    font-size: 1.8rem;
  }
}

.small_screen {
  .ant-select-selector {
    border-color: transparent !important;
    border-radius: 10px !important;
    height: 40px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
}

.car3_txt_color {
  color: #009ee3;
}
