@import "../../styles/colors.scss";

.content_top {
  background: #eeeeee;
  min-height: 40vh;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;

  .top_left {
    background: #eeeeee;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;

    .left_currency {
      display: flex;
      align-items: center;
      .app_km {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
      }
    }
    .left_bottom_content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 1rem;
      .external_link {
        background: #bababa;
        color: $whiteColor;
        width: 35px;
        height: 35px;
        border-radius: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
          font-size: 1.5rem;
        }
      }
    }
  }
  .top_right {
    background: #e5e5e5;
    padding: 1rem 3rem;
    width: 65%;
  }
}
