@import "../../styles/colors.scss";

.footer {
  background: #333333;
  height: 10rem;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  .footer_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1.5px solid $greyThreeColor;
    .top_left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 0.4rem;
    }
    .top_right {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.5rem;
      .icon {
        color: $whiteColor;
        font-size: 1.2rem;
      }
    }
  }
  .footer_bottom {
    padding-top: 1rem;
  }
}
